@CHARSET "ISO-8859-1";

body {

}


.navbar {
	width: 960px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
}

#logo {
	font-size: 60px;
	color: black;
	position:absolute;
	top:20px;
	left:0px;
	cursor:pointer;
}
#slogan {
	font-size: 20px;
	color: black;
	position:absolute;
	top:56px;
	left:350px;
}


#btn_login button{
	color: white;
	background:#666666;
	padding:5px;
	text-align:center;
	font-size: 20px;
	position:absolute;
	top:10px;
	right:20px;
	width:100px;
	cursor:pointer;
}


#btn_sign_in button{
	color: white;
	background:#666666;
	padding:5px;
	text-align:center;
	font-size: 20px;
	position:absolute;
	top:60px;
	right:20px;
	width:100px;
	cursor:pointer;
	
}


#hr_header {
width :960px;
background: #666666;
height: 3px;
}

.main_container {
	width:960px;
	height:500px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
}

#pub_main_content_home {
	width:600px;
	height:500px;
	position:absolute;
	left:0px;
	top:25px;
	display:block;
	font-size:24px;
}

#sidebar_main_content_home {
	width:360px;
	height:500px;
	position:absolute;
	right:0px;
	top:25px;
	display:block;
}
#image_coupe {
	width:400px;
	height:400px;
}
#login_home {
	width:600px;
	height:500px;
	position:absolute;
	left:0px;
	top:25px;
	display:none;
	font-size:24px;
}