@CHARSET "ISO-8859-1";

.main_navbar {
	width: 1280px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	
}

.main_menu {
	width: 1280px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	
	
}
.team_menu {
	width: 1280px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	
	
}
.trade_menu {
	width: 1280px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	
	
}

.next_10_drafting_team {
	
	width: 1280px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	
}
.next_10_drafting_team img {
	witdh :50px;
	height : 50px;
	margin-left:25px;
}
.next_10_drafting_team span {
	position:absolute;
	top :25;
}

.main_container {
	
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	
	
}

.main_content {
	
	width:960px;
	position:absolute;
	left:0px;
	display:block;
	
	
	
}

.main_sidebar {
	
	width:320px;
	position:absolute;
	right:0px;
	display:block;
	text-align:center;
	
	
}

#logo_main {
	width:250px;
	height:150px;
	position:absolute;
	left:0px
	
	
}

#welcome_main {
	width:500px;
	height:150px;
	position:absolute;
	left:250px;
	text-align:center;
	margin-top:25px;
	font-size:24px;
	
}
.hr_header {
width :1280px;
background: #666666;
height: 3px;
}

#btn_sign_out button{
	color: white;
	background:#666666;
	padding:5px;
	text-align:center;
	font-size: 20px;
	position:absolute;
	top:50px;
	right:20px;
	width:100px;
	cursor:pointer;
}

.btn_menu {
	width:150px;
	color: white;
	background:#666666;
	padding:5px;
	text-align:center;
	font-size: 20px;
	margin-left:15px;
	float:left;
}

.btn_menu_team {
	width:100px;
	color: white;
	background:#666666;
	padding:5px;
	text-align:center;
	font-size: 20px;
	margin-left:15px;
	float:left;
}
.btn_menu_trade {
	width:150px;
	color: white;
	background:#666666;
	padding:5px;
	text-align:center;
	font-size: 20px;
	margin-left:15px;
	float:left;
}
#main_content_title_classement {
	width : 960px;
	height:30px;
	text-align:center;
	font-size:24px;
	color:black;
	position:absolute;
	left:0px;
	display:block;
}
#main_content_title_classement2 {
	width : 960px;
	height:30px;
	text-align:center;
	font-size:24px;
	color:black;
	position:absolute;
	left:0px;
	display:none;
}
#main_content_table_classement {
	width : 960px;
	text-align:center;
	font-size:24px;
	color:black;
	position:absolute;
	left:0px;
	top:30px;
	display:block;
}
#formulaire_make_offer {
	width : 960px;
	text-align:center;
	font-size:24px;
	color:black;
	position:absolute;
	left:0px;
	top:30px;
	display:none;
}

table {
width: 100%;	
}

table, th, td {

   border: 1px solid black;
}

.section_budget_haut {
	
	background-color:#666666;
	color:white;
	margin-left:10px;
	padding:2px;
	font-size:18px;
}
.section_budget_bas {
	
	background-color:#666666;
	color:white;
	margin-left:10px;
	font-size:18px;
	padding:2px;
}

h3 {
	text-decoration: underline;
	
}

#trade_form_left {
	width:640px;
	height:auto;
	float:left;
	
}
#trade_form_right {
	width:640px;
	height:auto;
	float:left;
	
}